* {
  box-sizing: border-box;
}

body {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 52px;
}

.gallery {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  row-gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  height: 200px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

.form-text {
  margin-bottom: 48px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  border: 2px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 12px;
}

.form-input:hover,
.form-input:focus {
  border: 2px solid #4e75ff;
}

.form-message {
  width: 360px;
  height: 120px;
  resize: none;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 2px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 12px;
}

.form-message:hover {
  border: 2px solid #4e75ff;
}

.form-btn {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background: #6c8cff;
}
